<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>

<h1>All Users</h1>

<body>

<table>
    <style>
        table {
            width: 70%;
        }
        th, td {
            border: 1px solid black;
        }

        .operations {
            border: none;
        }
    </style>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Password</th>
        <th>Role</th>
        <th class="operations">Operations</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}">Id</td>
        <td th:text="${user.getName()}">Name</td>
        <td th:text="${user.getSurname()}">Surname</td>
        <td th:text="${user.getAge()}">Age</td>
        <td th:text="${user.getPassword()}">Password</td>
        <td>
            <span th:each="role : ${user.getRoles()}" th:text="${role.getRoleNameWithoutRole()} + ' '"></span>
        </td>
        <td class="operations">
            &nbsp
            <form style="display: inline-block;" th:method="GET" th:action="@{/admin/{id}/edit(id=${user.getId()})}">
                <input type="submit" value="Update">
            </form>
            &nbsp
            <form style="display: inline-block;" th:method="POST" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="Remove">
            </form>
        </td>
    </tr>
</table>

<br>

<button onclick="window.location.href='/admin/new'">Add New User</button>

<br><br>

<button onclick="window.location.href='/logout'">Log Out</button>

</body>
</html>