<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<h1>Update User</h1>

<form th:method="Post" action="/admin/update" th:object="${user}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td><label for="name">Name</label></td>
            <td><input type="text" id="name" th:field="*{name}"></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>
        <tr>
            <td><label for="surname">Surname</label></td>
            <td><input type="text" id="surname" th:field="*{surname}"></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{surname}"></td>
        </tr>
        <tr>
            <td><label for="age">Age</label></td>
            <td><input type="number" id="age" th:field="*{age}"></td>
            <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>
        </tr>
        <tr th:each="role :${user.getRoles()}">
            <td><label for="roles">Current Roles:</label></td>
            <td th:text="${role.getRoleNameWithoutRole()}" id="roles"></td>
        </tr>
        <tr>
            <td><label for="role">Change Roles:</label></td>
            <td>
                <label th:each="role : ${roles}">
                    <input type="checkbox" id="role"
                           th:value="${role.roleName}" name="rolesFromView" th:id="'role_' + ${role.id}"/>
                    <a th:text="${role.getRoleNameWithoutRole()}"></a>
                </label>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" id="password" th:field="*{password}"></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Ok"></td>
        </tr>
    </table>
    <br>
</form>

<br><br><br>
<button onclick="window.location.href='/logout'">Log Out</button>

</body>
</html>